<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-admob-mediation-inmobi"
	version="1.0.0">
      
    <name>AdMob Mediation Adapter for InMobi</name>
	<description>AdMob Mediation Adapter for InMobi</description>
	<author>rebrandsoftware</author>
	<keywords>admob,mediation,inmobi</keywords>
	<license>MIT</license>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest">
	    	<!--Mandatory permissions to receive ads-->
		    <uses-permission android:name="android.permission.INTERNET"/>
		    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
		    
		    <!--Recommended permissions to receive brand‐centric ads with interactive functionality for better eCPMs-->
		    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
		    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
		    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
		    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
		    <uses-permission android:name="android.permission.VIBRATE"/>
		    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
		    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
		    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
		    <uses-permission android:name="android.permission.READ_CALENDAR"/>
		    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
		    <uses-permission android:name="android.permission.GET_TASKS"/> 
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			    <!--Required Activity for rendering ads in the embedded browser-->
			    <activity android:name="com.inmobi.rendering.InMobiAdActivity" 
			                android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
			                android:theme="@android:style/Theme.Translucent.NoTitleBar"
			                android:hardwareAccelerated="true" />
			
			    <!--Required Receiver for enhanced targeting for better ads.-->
			
			    <receiver android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
			                android:enabled="true"
			                android:exported="true" >
			        <intent-filter>
			           <action android:name="com.inmobi.share.id" />
			        </intent-filter>
			    </receiver>
			
			    <service android:enabled="true" android:name="com.inmobi.signals.activityrecognition.ActivityRecognitionManager" />
			
			    <!--Required for Google Play Services-->
			
			    <meta-data android:name="com.google.android.gms.version"
			                android:value="@integer/google_play_services_version"/>
		</config-file>
		<source-file src="libadapterinmobi.jar" target-dir="libs" />
	    <source-file src="src/android/InMobi-6.0.4.jar" target-dir="libs" />
    </platform>

    <platform name="ios">  
    	<config-file target="*-Info.plist" parent="CFBundleURLTypes">
		    <key>NSLocationWhenInUseUsageDescription</key>
			<string>This application requires location services to work</string>
			<key>NSAppTransportSecurity</key> 
			<dict>
				<key>NSAllowsArbitraryLoads</key> 
				<true/> 
			</dict>
		</config-file>
		
		<header-file src="GADInMobiExtras.h" />
		<header-file src="GADMAdapterInMobi.h" />		
        <source-file src="libAdapterInMobi.a" framework="true" />
		
		<framework src="src/ios/InMobiSDK.framework" custom="true"/>
		<framework src="AdSupport.framework" weak="true" />
		<framework src="AudioToolbox.framework" weak="true" />
		<framework src="AVFoundation.framework" />
		<framework src="CoreLocation.framework" />
		<framework src="CoreTelephony.framework" />
		<framework src="EventKit.framework" />
		<framework src="EventKitUI.framework" />
		<framework src="MediaPlayer.framework" />
		<framework src="MessageUI.framework" />
		<framework src="SafariServices.framework" />
		<framework src="Security.framework" />
		<framework src="Social.framework" weak="true" />
		<framework src="StoreKit.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="libsqlite3.0.dylib" />
		<framework src="libz.dylib" />
    </platform>

</plugin>
